.character-button{
    top: 40%;
    position: relative;
    height: 45%;
    width: 15%;

    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border-width: 0px;
    z-index: 1;
}

.button-right{
    margin-left: 5%;
    transform: scale(-1, 1);
}

.button-left{
    margin-right: 5%;
}

.epatite-scena2{
    height: 55%;
    width: 20%;
    margin-left: 12%;
    transform: translate(20%,5%);
}
.vecchia-scena2{
    
}
.minorenne-scena2{
    margin-right: 5%;
}

.epatite-scena3{
    margin-right: 5%;
    
}
.vecchia-scena3{
    margin-right: 5%;
    transform: scale(-1, 1);
}
.minorenne-scena3{
    margin-left: 5%;
    transform: scale(-1, 1);
}
.testimone-scena3{

}

.epatite-scena4{
    margin-right: 5%;
}
.vecchia-scena4{
    margin-right: 5%;
}
.minorenne-scena4{
    margin-right: 5%;
}
.testimone-scena4{
    margin-right: 5%;
}
.prigioniero-scena4{
    margin-right: 5%;
}
.poliziotto-scena4{
    margin-right: 5%;
}


/*immagine ragazzo epatite*/
.ragazzo-epatite {
    background-image: url(../assets/images/characters/BillyBraddock_FullSize_Base.png);
}
/*immagine vecchia cleptomane*/
.vecchia-cleptomane {
    background-image: url(../assets/images/characters/CamilleBraddock_FullSize_Base.png);
}
/*imagine ragazza derubata*/
.ragazza-derubata {
    background-image: url(../assets/images/characters/ClaireFinnegan_FullSize_Base.png);
}
/*immagine vecchio testimone*/
.vecchio-testimone {
    background-image: url(../assets/images/characters/MarcusFinnegan_FullSize_Base.png);
}
/*immagine prigioniero*/

.prigioniero{
    background-image: url(../assets/images/characters/prisoner.png);
    transform: translate(100%, -100% );
}
.poliziotto{
    background-image: url(../assets/images/characters/poliziotto.png);
    transform: translateY(-100%);
}
 /*SCENA 1*/
/*Bambino con l'epatite*/
#char0{
    height: 60%;
    width: 25%;
    margin-left: 10%;
    padding: 0;
    transform: translate(0%,-10%);
}
/*la vecchia nonna ladra cleptomane*/
#char1{
    height: 40%;
    width: 30%;
    transform: translate(0%,-10%) scaleX(-1)
}

/*STANZA 2*/
/*epatite che viaggia*/
#charEpatite{
    
    padding: 0;
    
}
/*vecchia che viagga*/
#char2{
    height: 55%;
    width: 20%;
    margin: 0;
    transform: translateX(-15%) ;
}
/*minorenne derubata*/
#char3{
    height: 55%;
    /*width: 15%;
    margin-right: 22%;*/
    transform: translate(-65%,-0%) scaleX(-1);
    
}

/*STANZA 3*/
/*epatite*/
#char4{
    height: 65%;
    transform: translate(85%, 0%);
}
/*vecchia*/
#char5{

height: 60%;
width: 15%;
transform: translate(50%,-15%) scaleX(-1);

}
/*tipa derubata*/
#char6{

    height: 60%;
    width: 11%;
    transform: translate(-60%, 0%) scaleX(-1);
}
/*vecchio testimone*/
#char7{
    height:60%;
    width: 20%;
    transform: translate(-50%, 0%);
}

/*  SCENA 4*/
/* ePATITE*/
#char8{
    height:50%;
    width: 20%;

}
/* vecchia*/
#char9{
    height:50%;
    width: 20%;
    margin-left: -10%;
}
/*ragazza derubata*/
#char10{
    height:50%;
    width: 20%;
    transform: translate(160%,2%);
}
/* vecchio testimone*/
#char11{
    height:50%;
    width: 20%;
    margin-left: 8%;
    transform: translate(-160%, 2%);
}
/* prigioniero*/
#char12{
    height:50%;
    width: 20%;
    margin-left: -5%;
    margin-right: -5%;
}
/* poliziotto */
#char13{
    height:50%;
    width: 20%;
    margin-left: -28%;
    /*margin-right: 10%;*/
    transform: translate(7%,-100%);
}