.character-button{
    top: 40%;
    position: relative;
    height: 45%;
    width: 15%;

    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border-width: 0px;
    z-index: 1;
}

.button-right{
    margin-left: 5%;
    transform: scale(-1, 1);
}

.button-left{
    margin-right: 5%;
}

/*Bambino con l'epatite*/
#char0{
    background-image: url(../assets/images/characters/BillyBraddock_FullSize_Base.png);
    height: 60%;
    width: 25%;
    margin-left: 10%;
    padding: 0;
}
/*la vecchia nonna ladra cleptomane*/
#char1{
    background-image: url(../assets/images/characters/CamilleBraddock_FullSize_Base.png);
    height: 40%;
    width: 30%;
}
/*epatite che viaggia*/
#char0-1{
    background-image: url(../assets/images/characters/BillyBraddock_FullSize_Base.png);
    height: 25%;
    width: 20%;
    margin-left: 30%;
    padding: 0;
}
/*vecchia che viagga*/
#char1-1{
    background-image: url(../assets/images/characters/CamilleBraddock_FullSize_Base.png);
    height: 50%;
    width: 50%;
    transform: translateY(-65%);
}
/*minorenne derubata*/
#char2-1{
    background-image: url(../assets/images/characters/ClaireFinnegan_FullSize_Base.png);
    height: 60%;
    width: 60%;
    transform: translateY(-150%);
    margin-left: 30%;
}