#top-bar{
    position: fixed;
    /* height: ; */
    width: 100%;
    z-index: 5;
    display: inline-flex;
    background-image: url("../assets/UI/top_bar/Base_Banner.png");
    background-size: 100% 100%;
    background-position: center;
    height: 18.426%;
}

#characters{
    /* flex-grow: 1; */
    display: inline-flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    width: fit-content;
    margin-left: 56px;
    gap: 20px;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-bottom: 1%;
}

#logo{
    width: 21.5%;
    background-image: url(../assets/UI/top_bar/StClaire_Banner.png);
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: center; */
    margin-top: 1%;
    margin-left: 3%;
}

#map-button{
    width: fit-content;
}
.pawn-image{
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.pawn-box{
    width: 125px;
    display: flex;
    flex-direction: column;
}

.image-pawn-div{
    width: 100%;
    height: 100%;
    background-image: url(../assets/UI/top_bar/pawns/UnknownPawn.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.progress-bar{
    background-color: #291F1C;
    height: 10%;
    width: 100%;
    border-radius: 10px;
}

.progress-bar-fill{
    background-color: #fff;
    width: 10px;
    height: 100%;
    border-radius: 10px;
}

#char0pawn{ 
    background-image: url(../assets/UI/top_bar/pawns/TestaMozzataGuardia.png) !important;
}

#char2pawn{
    transform: scaleX(-1);
    background-image: url(../assets/UI/top_bar/pawns/TestaMozzataRagazza.png) !important;
}

#char3-pawn{
    background-image: url(../assets/UI/top_bar/pawns/TestaMozzataEpatite.png) !important;
}

#char4-pawn{
    background-image: url(../assets/UI/top_bar/pawns/TestaMozzataVecchia.png) !important;
}
#char5pawn{
    background-image: url(../assets/UI/top_bar/pawns/TestaMozzataTestimone.png) !important;
}




/* #char4-pawn_c .progress-bar .progress-bar-fill
{
    background-color: #ff0000 !important;
} */